.feed-link {
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 0 15px;
    color: $sidebar-highlight;
    border: 1px solid $sidebar-highlight;
    border-radius: 4px;

    i {
      color: $sidebar-highlight;
      font-size: 14px;
    }

    &:hover {
      color: white;
      background: $sidebar-highlight;

      i { color: white; }
    }
  }
}
